/*------------------------
         Fonts 
------------------------*/
// Font weight
$fblack: 900;
$fbold: 700;
$fsemibold: 600;
$fnormal: 400;
$flight: 300;

//Font Family
$mainFamily: "Open Sans",
sans-serif;

/*------------------------
        Colours
------------------------*/
$white: #fff;
$black: #000;
$grey-light: #ededed;
$grey: #929292;
$grey-dark: #444444;
$grey-darker:#dcdcdc;
$tabs-text: #969696;
$green: #6DC24B;
 //--basic career--//

$purple: #5f249f;
$contentBackground: #FAFAFA;

