body {
  background-image: url('../static/images/backgrounds/bg.svg');
}

.carbon-calculator {
  &__tab--content {
    .title {
      margin-top: 5px;
      margin-left: 10px;
    }

    .dots-ul {
      li {
        border: 1px solid $purple;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        display: inline-block;

        &.active {
          background-color: $purple;
        }
      }
    }

    &.results {
      .result-container {
        background-color: $purple;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        text-align: center;
        padding-top: 30px;
        margin: 0 auto;

        h2 {
          font-size: 5rem !important;
          font-weight: 700;
          margin-bottom: 0;
        }
      }
    }

    &.lifestyle {
      .title {
        @media screen and (min-width: 768px) {
          width: 390px;
          display: inline-block;
        }
      }

      .custom-select {
        width: 235px !important;
      }
    }

    
    .select-wrapper {
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        border: solid $purple;
        border-width: 0 2px 2px 0;
        padding: 5px;
        position: absolute;
        right: 16px;
        top: 12px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: 0.2s ease;
      }

      &:focus-within::before {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }

      select {
        background: $white;
        cursor: pointer;
      }
    }

    &.transport {

      .range {
        width: 92%;
        margin-left: 3%;
      }

      .transport-ul {
        li {
          display: inline-block;

          &:first-child{
            margin-left: 3%;
            width: 31%;
          }

          &:nth-child(2) {
            width: 30%;
          }

          &:nth-child(3) {
            width: 30%;
          }

          span {
            font-size: 0.875rem;
            font-weight: $fsemibold;
          }
        }
      }

      .transport-cars {

        .single-car {
          padding: 20px 25px;
          border-radius: 4px;
          border: 1px solid #D9D9D9;
          background-color: $white;

          h6 {
            margin-bottom: 0 !important;
          }

          .car-size {
            @media screen and (min-width: 768px) {
              width: 370px !important;
            }

            @media screen and (min-width: 992px) {
              width: 415px !important;
            }

            @media screen and (min-width: 1200px) {
              width: 560px !important;
            }

            @media screen and (min-width: 1920px) {
              width: 535px !important;
            }
          }

          .car-mileage {
            @media screen and (min-width: 768px) {
              width: 252px !important;
            }

            @media screen and (min-width: 992px) {
              width: 297px !important;
            }

            @media screen and (min-width: 1200px) {
              width: 468px !important;
            }

            @media screen and (min-width: 1920px) {
              width: 417px !important;
            }
          }
        }

      
      }
    }

    &.houseHold {
      .range {
        width: 92%;
        margin-left: 3%;
      }

      .range-ul {
        
        li {
          display: inline-block;
          
          &:first-child{
            margin-left: 2%;
            width: 13%;
          }

          &:nth-child(2) {
            width: 24%;
          }

          &:nth-child(3) {
            width: 21%;
          }

          &:nth-child(4) {
            width: 24%;
          }

          &:nth-child(5) {
            width: 16%;
          }

          span {
            font-size: 0.875rem;
            font-weight: $fsemibold;
          }
        }
      }

      .oil-numbers {
        padding: 10px 25px;
        border-radius: 4px;
        border: 1px solid #D9D9D9;
        text-align: center;
        background-color: $white;

        &__container {
          padding: 0 15px;

          span {
            font-size: 0.875rem;
            font-weight: $fsemibold;
          }
  
          input {
            width: 70px;
            margin: 0 auto;
          }
        }

        
      }
    }

    .custom-range {
      height: 12px !important;
      border-radius: 4px;
    }

    input[type=range] {
      -webkit-appearance: none;
      display: block;
      width: 100%;
      background: #D9DAD5;
      background-image: -webkit-gradient(linear, 20% 0%, 20% 100%, color-stop(0%, $green), color-stop(100%, $green));
      background-image: -webkit-linear-gradient(left, $green 0%,$green 100%);
      background-image: -moz-linear-gradient(left, $green 0%, $green 100%);
      background-image: -o-linear-gradient(to right, $green 0%,$green 100%);
      background-image: linear-gradient(to right, $green 0%,$green 100%);
      background-repeat: no-repeat;
    }

    input[type=range]:focus {
      outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      cursor: pointer;
      box-shadow: none;
      background: transparent;
      border-radius: 0px;
      border: none;
    }

    input[type=range]::-webkit-slider-thumb {
      box-shadow: none;
      border: 4px solid $green;
      height: 6px;
      width: 16px;
      border-radius: 2px;
      background: #D9DAD5;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -6px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      background: transparent;
    }

    input[type=range]::-moz-range-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      box-shadow: none;
      background: transparent;
      border-radius: 0px;
      border: none;
    }

    input[type=range]::-moz-range-thumb {
      box-shadow: none;
      border: 4px solid $green;
      height: 16px;
      width: 16px;
      border-radius: 2px;
      background: #ffffff;
      cursor: pointer;
    }

    input[type=range]::-ms-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    input[type=range]::-ms-fill-lower {
      background: transparent;
      border: none;
      border-radius: 0px;
      box-shadow: none;
    }

    input[type=range]::-ms-fill-upper {
      background: transparent;
      border: none;
      border-radius: 0px;
      box-shadow: none;
    }

    input[type=range]::-ms-thumb {
      box-shadow: none;
      border: 4px solid $green;
      height: 16px;
      width: 16px;
      border-radius: 2px;
      background: #ffffff;
      cursor: pointer;
      height: 4px;
    }

    input[type=range]:focus::-ms-fill-lower {
      background: transparent;
    }

    input[type=range]:focus::-ms-fill-upper {
      background: transparent;
    }

  
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      z-index: 1;
      width: 20px;
      height: 20px;
      cursor: pointer;
      @include border-radius(50%);
      background-color: $green;
    }
  
    input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        width: 20px;
        height: 20px;
        cursor: pointer;
        @include border-radius(50%);
        background-color: $green;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
      border-color: $green;
      background-color: $green;
    }

    .custom-control-label {
      cursor: pointer;
    }

    .custom-control-label::before {
      width: 1.2rem;
      height: 1.2rem;
    }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
      background-image: url('../static/images/icons/ticked_state.png');
    }
    
    .custom-control-label::after {
      background: 100% / 100% 100% no-repeat;
      width: 20px;
      height: 20px;
    }

  }

  .card-co2tips {
    border: none;

    .card-body {
      padding: 0 1.875rem 1.875rem 1.875rem !important;
    }

    .card-header {
      border-right: 1px solid #D9D9D9;

      .nav-item {
        .nav-link {
          color: $tabs-text !important;
        }
      }
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      color: $purple !important;
      background-color: transparent !important;
      font-weight: $fbold !important;
    }
  }
}

.div-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.card-header,
.tab-content {
  background-color: $contentBackground !important;
}

.card-header {
  padding: 0 0 0 0 !important;
  height: 55px;

  // @media screen and (min-width: 992px) {
  //   height: 70px;
  // }

  .card-header-pills {
    margin-right: 0 !important;
    margin-left: 0 !important;

    .nav-item {
      width: 33.33%;
      text-align: center;

      &:first-child {
        .nav-link {
          border-top-left-radius: 8px;
        }
      }

      &:nth-child(3) {
        .nav-link {
          border-top-right-radius: 8px;
        }
      }

      .nav-link {
        padding: 15px 0 !important;
        border-radius: 0;
        color: $tabs-text;
        font-size: 1.25rem;
        font-weight: $fsemibold;

        @media screen and (min-width: 992px) {
          font-size: 1.5625rem;
          padding: 15px 0 !important;
          // padding: 23px 0 !important;
        }

        // @media screen and (min-width: 1200px) {
        //   padding: 26px 0 !important;
        // }

        // @media screen and (min-width: 1920px) {
        //   padding: 23px 0 !important;
        // }
        
        &.active {
          background-color: $purple !important;
          color: $white;
        }

        
      }
    }
  }
}

.card-body {
  padding: 1.25rem !important;

  // @media screen and (min-width: 992px) {
  //   padding: 1.875rem !important;
  // }
}

.purple-ul {
  li {
    padding: 1px 0;

    &::before {
      content: "\2022";
      color: $purple !important;
      font-size: 1rem;
      margin-left: -20px;
      display: inline-block;
      width: 1em;
    }
  }
}

.footer {
  margin-top: 50px;
  margin-bottom: 30px;

  p {
    color: #707175;
    font-size: 0.75rem !important;
    padding-top: 10px;
  }

  .logo {
    width: 110px;
  }
}